// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul{
  padding: 0;
}

.child li {
  padding-top: 13px;
  border-bottom: 5px dotted #ccc;
  list-style-type: none;
}


.left {
text-align: left;
}

#comments_area{
  background-color: #F6F7F9;

}

.each_comment{
  border-bottom: 5px ;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 10px;
}
.each_comment_created_at{
  color: #9194A1;
}
.edit_delete_links{
  float: right;
}
.col-lg-6{
    padding: 15px 15px 0px 15px;
}
